@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans leading-relaxed;
  }

  h1 {
    @apply text-3xl font-semibold mb-4;
  }

  h2 {
    @apply text-xl font-semibold mt-8 mb-3;
  }

  p {
    @apply text-neutral-700 dark:text-neutral-400 mb-4;
  }

  a {
    @apply text-blue-500 hover:underline;
  }
}
